*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   height:100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Parquimetro{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    background-color: rgb(63, 178, 74);
    padding: 20px;
    border-radius: 8px;
    height: 350px;
    width: 450px;
}
input{
    display: block;
    text-align: center;
    margin: 12px;
    padding: 10px;
}
p{
    font-size: 20px;
}
button{
    display: block;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    margin: 12px;
}
